body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ca43a2d2;
}

#header {
    background-color: #d41e9785;
    color: rgb(4, 10, 5);
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(247, 249, 253);
    border: 1px solid #528ce2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #bb920d;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #36852b;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.red_validate {
    color: red;
    font-size: 12px;
    display: none; /* Change to block via JS if needed */
}

.book-btn {
    display: inline-block;
    background-color: #920a0a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #914b2f;
}

#logo-container {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
    padding: 10px;
}

#railway-logo {
    height: 100px;
    width: auto;
}
