body {
    font-family: Arial, sans-serif;
    background-color: #e4d4d4;
}

.container {
    width: 60%;
    margin: 30px auto;
    background-color: #76adce;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.error {
    color: red;
    font-size: 0.9em;
}
