.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
     background-color: #6ac9ac;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #889bda;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
     background-color: #dbbfbf;
}

.error {
    color: red;
    font-size: 0.9em;
}
